<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net472" />
  <package id="Spin.js" version="2.3.2.1" targetFramework="net472" />
  <package id="Spire.Doc" version="9.4.1" targetFramework="net472" />
</packages>